 /* .Button {
  max-height: 20px;
    margin: 10px;
    flex-wrap: nowrap;
    flex-direction: column;
    display: flex;
    padding: 10px 20px;
    background-color: #F23078;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 1px 1px 5px #000;
    font-family: Kanit;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    
}*/.Button {
    max-height: 20px;
    margin: 40px;
    flex-wrap: nowrap;
    flex-direction: column;
    display: flex;
    padding: 20px 40px;
    width: 300px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 6px 15px -7px #000000;
    font-family: Kanit;
    text-transform: uppercase;
    font-size: 40px;
    justify-content: center;
    align-items: center;
	background:linear-gradient(to bottom, #ff75aa 25%, #f23077 100%);
	background-color:#fa99be;
    display: flex;

}
.Button:hover {
	background:linear-gradient(to bottom, #f23077 5%, #fa99be 100%);
	background-color:#f23077;
}
.Button:active {
	position:relative;
	top:1px;
}

.voltarButton{
    display: flex;
    justify-content: flex-start; /* Alinha à esquerda */
    align-items: flex-start; /* Alinha ao topo */
    position: absolute;
    top: 10px; /* Ajuste a posição vertical conforme necessário */
    left: 10px; /* Ajuste a posição horizontal conforme necessário */
    z-index: 999; /* Opcional: ajuste o índice Z se necessário */
    max-height: 20px;
    margin: 20px;
    display: flex;
    padding: 20px 40px;
    width: 200px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 6px 15px -7px #000000;
    font-family: Kanit;
    text-transform: uppercase;
    font-size: 40px;
    justify-content: center;
    align-items: center;
	background:linear-gradient(to bottom, #6c4ccc 25%, #553CA1 100%);
	/* background-color:#fa99be; */
    display: flex;
}

.voltarButton:hover {
	background:linear-gradient(to bottom, #553CA1 5%, #6c4ccc 100%);
	background-color:#f23077;
}
.voltarButton:active {
	top:1px;
}

