.inputGeral{
  text-align: center;
  
}

.textoInput {
  font-size: 50px;
  margin-bottom: 16px;
  font-family: Karantina;
  text-shadow: -2px 2px #000000;
}


.input[type="text"] {
  padding: 5px;
   font-size: 30px;
   border-width: 1px;
   border-color: #CCCCCC;
   background-color: #FFFFFF;
   color: #000000;
   border-style: solid;
   border-radius: 15px;
   box-shadow: -1px -2px 0px rgba(66,66,66,.66);
   text-shadow: -50px 0px 0px rgba(66,66,66,.0);
   text-align: center;
   font-family: Kanit;
   margin-bottom: 20px;
}