.titulo {
    text-align: center;
    margin-bottom: 100px;
    font-family: Karantina;
    font-size: 200px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 5px 5px 0 #000;
    max-width: 1200px;
    margin: 60px;
    padding: 20px;
}
