.dashboard {
    padding: 24px;
  }

.header {
    text-align: left;
    margin-bottom: 20px;
    font-family: Karantina;
    font-size: 300px;
    color: #fff;
    text-shadow: 5px 5px 0 #000000;
}

.nav{
    flex-wrap: wrap;
    float: left;
    flex-direction: column;
}